<div class="col-6">
        <div class="form-floating mb-3">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.First_name}}" placeholder="Your First Name please" name="First_name" >
            <label for="floatingInput">First-Name</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating mb-3">
            <input  type="text" class="form-control" id="floatingInput" value="{{this.Last_name}}" placeholder="Your Last Name please" name='Last_name'>
            <label for="floatingInput">Last-Name</label>
        </div>
      </div>
        <div class="form-floating mb-3">
            <input  type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-4">
            <input  type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="no--" name="phone">
            <label for="floatingInput">Phone-no.</label>
        </div>
        <div class="col-12 bg-grey ">
            <div class="form-floating ">
                <input type="text" class="form-control" id="floatingInput" value="{{this.comments}}" placeholder="Add comments" name="comments" style="height:200px">
                <label for="floatingInput">Add a comment</label>
            </div>
        </div>
        <div class="col-12 d-grid">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>